<h1>Mi TODO</h1>
<a href="{% url 'task_create' %}">+ Nueva tarea</a>

<ul>
  {% for task in tasks %}
    <li>
      {% if task.completed %}
        <s>{{ task.title }}</s>
      {% else %}
        {{ task.title }}
      {% endif %}

      (Prioridad: {{ task.get_priority_display }})

      <a href="{% url 'task_toggle_complete' task.id %}">✅/↩</a>
      <a href="{% url 'task_update' task.id %}">✏️ Editar</a>
      <a href="{% url 'task_delete' task.id %}">🗑 Borrar</a>
    </li>
  {% empty %}
    <li>No hay tareas todavía</li>
  {% endfor %}
</ul>
